/*** CONTACT ***/
h2 {
    font-family: 'roboto-regular';
    font-size: 36px;
    margin-bottom: 50px;
}

.contact-data {
	overflow: auto;
}

.content .contact-left {
	float: left;
}

.content .contact-right {
	float: right;
}

.contact-branch,
.contact-main {
    font-family: 'roboto-light';
    font-size: 24px;
    color: #767676;
    margin-bottom: 80px;

	border: 4px dashed #ca624b;
    display: inline-block;
	padding: 0 30px;
}

.contact-branch {
	margin-bottom: 30px;
	width: 400px;
}

div.contactX1	{
	margin-top: 25px;
	vertical-align: bottom;
	float: left;
	font-size: 36px;
}
div.contactXXX	{
	margin-top: 30px;
	vertical-align: bottom;
	float: right;
	margin-right: 145px;
}

div.contact-main p {
    margin-bottom: 40px;
}

div.contact-social {
    margin-bottom: 80px;
}

div.contact-social p {
    font-family: 'roboto-bold';
    font-size: 24px;
    color: #ca624b;
    margin-bottom: 30px;
}

div.contact-social p a {
    margin-right: 15px;
}

div.map {
    margin-bottom: 80px;
}
